body {
  font-family: sans-serif;
}
*, ::after, ::before {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.navbar {
  background-color: #fff;
  border-radius: 2px;
  padding: 0 1em;
  font-weight: 300;
}

.navbar a {
  color: #000;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  float: left;
  display: block;
}
.navbar::after {
  content: '';
  display: block;
  clear: both;
}
.navbar a.external:hover {
  text-decoration: underline;
}
.navbar a.active {
  position: relative;
  display: inline-block;
}
.navbar a.active::after {
  position: absolute;
  content: '';
  width: calc(100% - 1em);
  height: 2px;
  background-color: green;
  left: 0.5em;
  bottom: -1px;
  left: 0.5em;
}
body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#373737;padding:0
10px}h1,h2,h3{line-height:1.2}
